@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  overflow-x: hidden;
}

ion-icon {
    font-size: 5rem;
  }


    
  @media(max-width:1300px) {
    .hero-flex {
      padding:40% 0; 

    }
  }



.hero-image {
  max-height: max-content;
}

/* loader */

#loader {
  transition: all 0.5s linear;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media(max-width:768px){
  #loader {
    top: 50%;
    left: 50%;
    transform: translate(-20%, -0%);
  }
}


.loader-container span{
  color: #fff;
  letter-spacing: 30px;
  font-size: 60px;
  animation: loading 2s ease infinite;
  opacity: 0;
  color: black;
}
.loader-container span:nth-child(1){
  animation-delay: .1s;
}
.loader-container span:nth-child(2){
  animation-delay: 0.2s;
}
.loader-container span:nth-child(3){
  animation-delay: .3s;
}
.loader-container span:nth-child(4){
  animation-delay: .4s;
}
.loader-container span:nth-child(5){
  animation-delay: .5s;
}
.loader-container span:nth-child(6){
  animation-delay: .6s;
}
.loader-container span:nth-child(7){
  animation-delay: 0.7s;
}
@keyframes loading {
  50%{
      opacity: 1;
  }
}


@media(max-width:768px){
  

  section .hero-flex {
    padding: 10% 5%;
  }

.loader-container span {
  font-size: 1.6rem;
  font-weight: 500;  
}



}