@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins.woff');
}
body {
  overflow-x: hidden;
}

.main {
  display: none;
}

.tagline {
  font-family: "Brush Script";
}

ion-icon {
  font-size: 5rem;
}

@media (max-width: 1300px) {
  .hero-flex {
    padding: 0% 0;
  }
}

/* services */

.service-icon img {
  max-width: 100px;
  max-height: 90px;
}

/* Form loader */
.loader-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  /* Corrected animation property */
}

.success-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-message {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px; 
  display: none;
}

@keyframes spin {
  /* Keyframes definition for loader animation */
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.breadcrumb {
  background-image: linear-gradient(rgba(72, 75, 78, 0.8), rgba(37, 9, 9, 0.8)),
    url("../images/engineer.webp");

  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: scroll;
  background-position: center top;
  background-attachment: scroll;
  background-position: center top;
}

.projects-card {
  font-family: "DM Sans", sans-serif;
  min-height: 220px;
}

img.project-img {
  min-height: 170px !important;
  max-height: 170px !important;
}

/* projects page */
.projects {
  background: #fff;
  position: relative;
  min-height: 18rem;
  /* width: 25%; */
}
@media (min-width: 768px) and (max-width: 1250px) {
  .projects {
    width: 45%;
  }
}

@media (min-width: 1250px) {
  .projects {
    width: 25%;
  }
}

#commercial,
#residential,
#industrial,
#oilAndRefinery {
  width: 80%;
  margin: auto;
}

/* .projects p:last-child {
  position: absolute;
  left: 25%;
  bottom: 1rem;
} */

/* about-grid */

@media (min-width: 768px) and (max-width: 1100px) {
  .project-img {
    min-height: 120px !important;
  }
}

@media (max-width: 1100px) {
  .about-grid {
    margin-top: -6rem;
    display: flex;
    flex-direction: column-reverse;
  }
}

p.desc::before {
  content: attr(data-first-word);
  font-weight: bold;
  float: left;
  margin-right: 0.5rem;
  font-size: 3rem;
  line-height: 1;
}

/* loader */

#loader {
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.loader-container span {
  color: #fff;
  letter-spacing: 30px;
  font-size: 60px;
  animation: loading 2s ease infinite;
  opacity: 0;
  color: black;
}
.loader-container span:nth-child(1) {
  animation-delay: 0.1s;
}
.loader-container span:nth-child(2) {
  animation-delay: 0.2s;
}
.loader-container span:nth-child(3) {
  animation-delay: 0.3s;
}
.loader-container span:nth-child(4) {
  animation-delay: 0.4s;
}
.loader-container span:nth-child(5) {
  animation-delay: 0.5s;
}
.loader-container span:nth-child(6) {
  animation-delay: 0.6s;
}
.loader-container span:nth-child(7) {
  animation-delay: 0.7s;
  letter-spacing: 0;
}
@keyframes loading {
  50% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  section .hero-flex {
    padding: 0% 5%;
  }

  .loader-container span {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

/* menu animation */
.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #000;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
