@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
ion-icon {
    font-size: 5rem;
  }

.hero-flex {
  
  @media(min-width:1300px) {
    
    padding: 0 5%; 
  }
}

.hero-image {
  max-width: max-content;
}