@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
ion-icon {
    font-size: 5rem;
  }

.hero-flex {
  
  @media(min-width:1300px) {
    
    padding: 0 10%; 
  }
}

.hero-image {
  max-height: max-content;
}

/* loader */

#loader {
  width: 200px;
  height: 200px;
  transition: all 0.5s linear;
  position: absolute;
  top: 45%;
  left: 45%;
}